html,
body{
    height: 100%;
}

body{
    color: $default;
    font-size: 16px;
    line-height: 30px;
    @extend %DMSans-700;
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
    font-size: 36px;
    @extend %DMSans-700;
    color: #191919;
    margin-bottom: 40px;
}

.main{
    flex-grow: 1;
}

.big-container{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}
.average-container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}
.small-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.mix-subtitle{
    display: flex;
    justify-content: center;
&__item{
    margin-bottom: 80px;
    @extend %DMSans-700;
    & + .product-top__subtitle-item{
        margin-left: 30px;
        
    }
}
&__link{
    color: $accent-menu;
    border: none;
    background-color: transparent;
}
}