body{
    color: $default;
    font-size: 16px;
    line-height: 30px;
    @extend %DMSans-700
}
.big-container{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}
.average-container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}
.small-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}