@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.breadcrumbs {
    padding: 35px 0;
    background-color: #edf1f4;
    text-align: center;

    &__title {
        margin-bottom: 10px;
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        &::after {
            content: '/';
            margin-right: 5px;
        }

        &:last-child {
            &::after {
                content: none;
            }
        }
    }

    &__link {
        color: #909499;
    }
}

.modal {
    color: $default;
    padding: 120px 0;
    max-width: 470px;
    width: 100%;
    margin: 0 auto;

    &__input {
        display: block;
        width: 100%;
        height: 60px;
        padding: 0 15px;
        margin-bottom: 25px;
        color: $accent-title;
    }

    &__btn {
        border: none;
        display: block;
        width: 100%;
        padding: 10px 0;
        background-color: #a3bbc8;
        color: #fff;
        margin-top: 40px;
    }

    &__text {
        flex-grow: 1;
    }

    &__label-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        border-bottom: 1px solid #f6f6f6;
        margin-bottom: 30px;
    }

    &__error {
        color: $default;
    }

    &__problem {
        text-align: center;
    }

    &__link {
        box-sizing: border-box;
        display: block;
        text-align: center;
        border: 2px solid #a3bbc8;
        width: 100%;
        color: $accent-title;
        margin-top: 20px;
        padding: 20px 0;
        font-size: 18px;
    }
}

.about {
    &__img{
        margin-right: 20px;
    }
    &__inner {
        padding: 120px 0;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 560px;
        width: 100%;
        margin-top: 90px;
    }

    &__subtitle {
        display: flex;
    }

    &__title {
        text-align: left;
        margin-top: 45px;
    }

    &__subtitle-number {
        @extend %Rubik-700;
        color: #a3bbc8;
        font-size: 140px;
        line-height: 70px;
        margin-right: 50px;
    }

    &__subtitle-text {
        width: 100px;
    }

    &__text {
        position: relative;
        padding-bottom: 60px;

        &::after {
            content: '';
            position: absolute;
            height: 3px;
            width: 500px;
            background-color: #f6f6f6;
            left: 0;
            bottom: 0;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    &__info-item {
        display: flex;
        border-right: 1px solid #f6f6f6;
        margin-right: 28px;

        &:last-child {
            border: none;
            margin-right: 0;
        }
    }

    &__info-number {
        @extend %DMSans-700;
        color: $accent-title;
        font-size: 36px;
        padding-left: 15px;
        margin-top: 20px;
        line-height: 24px;
        display: flex;
        flex-wrap: wrap;
    }

    &__info-text {
        margin-left: 10px;
        font-size: 16px;
        color: #4c4c4c;
    }
}

.statistic {
    background-color: $bg;
    padding: 95px 0 85px;

    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    &__item{
        text-align: center;
    }

    &__img {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    &__number {
        margin-bottom: 15px;
    }

    &__text {
        color: $accent-title
    }
}

.team {
    padding: 120px 0 60px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        margin-bottom: 45px;
    }

    &__link {
        position: relative;
        background-color: #a3bbc8;
        border-radius: 5px;
        color: #fff;
        padding: 15px 55px 15px 15px;

        &::after {
            position: absolute;
            content: '';
            background-image: url('../images/icon/arrow.svg');
            background-repeat: no-repeat;
            width: 22px;
            height: 9px;
            right: 15px;
            top: 20px;
        }
    }

    &__items-left {
        max-width: 300px;
        width: 100%;
    }

    &__items-right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    &__item {
        position: relative;
        margin-bottom: 70px;
    }

    &__box {
        position: absolute;
        background-color: #fff;
        width: 325px;
        height: 110px;
        bottom: -60px;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        padding-left: 25px;
        z-index: 1;
    }

    &__box-social {
        display: flex;
        position: absolute;
        right: 10px;
        top: 35px;
    }

    &__box-title {
        font-size: 22px;
        color: $default;
        margin: 20px 0 10px;
    }

    &__social-link {
        padding: 15px 15px;
        border-radius: 50%;
        background-color: #f6f6f6;
        margin-right: 10px;

        &:last-child {
            padding: 15px 13px;
        }
    }

    &__social-img {
        background-color: #f6f6f6;

    }
}

.terms {
    padding: 120px 0 50px;

    &__title {
        text-align: left;
        margin-bottom: 30px;
        color: $accent-title;
    }

    &__item {
        margin-bottom: 35px;
        margin-left: 40px;
        color: $accent-title;
    }

    &__text,
    &__list {
        margin-bottom: 70px;
        color: $accent-title;
    }
}

.shop {
    padding: 120px 0 120px;
    &__filters-btn{
        display: none;
    }
    &__inner {
        display: flex;
    }

    &__filters {
        max-width: 275px;
        width: 100%;
    }
}

.filter {
    margin-right: 30px;
    &__title {
        position: relative;
        margin-bottom: 30px;
        text-transform: uppercase;
        &::after {
            content: '';
            position: absolute;
            background-color: #a3bbc8;
            width: 38px;
            height: 3px;
            top: 12px;
            margin-left: 20px;
        }
    }
    &__item{
        margin-bottom: 55px;
    }
}

.filter-category {
    &__input {
        @extend %checkbox-hidden;
        
        &:checked+.filter-category__text {
            background-color: #edf1f4;
        }
    }
    &__text {
        cursor: pointer;
        display: block;
        padding: 15px;
        border-radius: 5px;
        position: relative;
        line-height: 1;
        margin-bottom: 5px;

        &::after {
            content: '';
            position: absolute;
            background-image: url('../images/icon/arrow-single.svg');
            width: 5px;
            height: 10px;
            top: 18px;
            right: 15px;
        }
    }
}
.filter-price{
    &__label{
        display: flex;
        justify-content: space-between;
    }
}


.irs--flat .irs-min, .irs--flat .irs-max, .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
    display: none;
}

.irs--flat .irs-line{
    top: 7px;
    background-color: #c2d2db;
    height: 2px;
}
.irs--flat .irs-bar{
    top: 7px;
    background-color: #a3bbc8;
    height: 3px;
}
.irs--flat .irs-handle{
    top: 1px;
    background-color: #a3bbc8;
    height: 15px;
    width: 15px;
}
.irs--flat .irs-handle>i:first-child {
    display: none;
}
.irs--flat {
    height: 35px;
}

.filter-brand {
    &__input {
        @extend %checkbox-hidden;
        &:checked + .filter-brand__checkbox {
            background-color: #edf1f4;
            .filter-brand__text-number{
                color: $default;
            }
        }
    }
    &__checkbox{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border-radius: 5px;
        position: relative;
        line-height: 1;
        margin-bottom: 5px;
    }
    &__text-number{
        color: #dcdcdc;
        width: 30px;
        text-align: center;
    }
}

.filter-products{
    &__content{
        display: flex;
    }
    &__img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 18px;
        border: 3px solid #f8f8f8;
        width: 66px;
        height: 66px;
    }
    &__item{
        color: #333;
        max-width: 170px;
        width: 100%;
    }
    &__item-title{
        font-size: 14px;
        line-height: 1;
        margin: 4px 0 13px;
    }
    &__item-star{
        padding: 0;
        margin-bottom: 8px;
        line-height: 1;
    }
    &__item-price{
        font-size: 15px;
    }
}

.shop-content{
    width: 100%;
    &__filter {
        padding: 0px 25px 0px 30px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__filter-buttons {
        display: flex;
        align-items: center;
    }

    &__filter-btn {
        outline: none;
        padding: 0;
        border: none;
        background-color: transparent;
        margin-left: 15px;
        line-height: 0;
        cursor: pointer;

        &.shop-content__filter-btn--active {
            path {
                fill: $accent-title;
            }
        }
    }
    &__inner{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 70px;
    }
}


.jq-selectbox__select {
    height: 32px;
    margin-left: 30px;
    padding: 0 30px 0 0;
    border: none;
    box-shadow: none;
    @extend %Rubik-500;
    background: transparent;
    color: $default;
    text-shadow: none;
    &:hover {
        background: transparent;
    }
}

.jq-selectbox__trigger {
    border-left: none;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 10px;
    height: 5px;
    border: none;
    background-image: url('../images/icon/angle-down.svg');
}

.product-one{
    padding: 120px 0 60px;
    &__inner{
        display: flex;
        margin-bottom: 100px;
    }
}

.product-slide{
    width: 550px;
    height: 530px;
    display: flex;
    margin-right: 70px;
    &__thumb{
        margin-right: 25px;
        height: 530px;
    }
    &__thumb-item{
        & + .product-slide__thumb-item{
            margin-top: 19px;
        }
        max-width: 140px;
        max-height: 160px;
        img{
            object-fit: contain;
            width: 140px;
            height: 160px;
        }
    }
    &__big{
        display: flex;
        height: 530px;
        max-width: 385px;
        width: 100%;
        border: 2px solid #f2f2f2;        
    }
}

.slick-vertical .slick-slide{
    border: 2px solid #f2f2f2;
}
.slick-initialized .slick-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
}

.jq-number__field {
    width: 148px;
    border: 1px solid #a3bbc8;
    transform: translateY(1px);
}

.jq-number__field input {
    width: 100%;
    padding: 8px 9px;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    padding: 0px;
    height: 48px;
    text-align: center;
    margin: 0;
}

.jq-number {
    padding: 0;
    position: relative;
}

.jq-number__spin {
    position: absolute;
    cursor: pointer;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.jq-number__spin.minus {
    top: 26px;
    left: 15px;
    border-right: 2px solid #a3bbc8;
    padding: 19px 20px 18px 0;
    }
.jq-number__spin.plus{
    right: 15px;
    top: 26px;
    border-left: 2px solid #a3bbc8;
    padding: 19px 0 18px 20px;
}

.jq-number__spin::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 3px;
    width: 12px;
    height: 1px;
    background-color: #000;
}
.jq-number__spin.plus::after {
    content: "";
    position: absolute;
    left: 17px;
}

.jq-number__spin.plus::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 22px;
    width: 1px;
    height: 12px;
    background-color: #000;
}

.product-content{
    width: 540px;
    &__title{
        color: #333;
        font-size: 40px;
        margin-bottom: 25px;
    }
    &__star{
       padding: 0; 
       margin-bottom: 25px;
    }
    &__price{
        font-size: 30px;
        color: #333;
        margin-bottom: 30px;
    }
    &__text{
        margin-bottom: 35px;
    }
    &__form{
        margin-bottom: 50px;
    }
    &__form-num{
        margin-right: 10px;
    }
    &__form-btn{
        background-color: #a3bbc8;
        border: none;
        color: #fff;
        width: 210px;
        height: 50px;
        margin-top: 1px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 15px;
        @extend %Rubik-400;
        cursor: pointer;
    }
    &__list-link{
        color: $default;
    }
}

.blog{
    padding: 120px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
}
.blog-content{
    width: 830px;
    &__item{
        margin-bottom: 50px;
    }
    &__img{
        width: 830px;
        height: 500px;
        object-fit: cover;
        margin-bottom: 40px;
    }
    &__item-img{
        position: relative;
    }
    &__item-box{
        img{
            display: inline-block;
            margin-right: 5px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: #a3bbc8;
        bottom: 0;
        left: 0;
        padding: 28px 26px;
        line-height: 1;
        color: #fff;
        font-size: 12px;
        @extend %Rubik-400;

    }
    &__item-date{
        display: flex;
        justify-content: center;
    }
    &__item-author{
        display: flex;
        justify-content: center;
        margin-left: 25px;
    }
    &__item-title{
        color: $grid-title;
        font-size: 36px;
        @extend %Rubik-400;
        margin-bottom: 40px;
    }
    &__item-text{
        margin-bottom: 40px;
    }
    &__item-link{
        display: inline-block;
        color: #a3bbc8;
        border: 1px solid #a3bbc8;
        padding: 20px 85px 20px 20px;
        position: relative;
        line-height: 1;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icon/arrow-blog.svg');
            background-repeat: no-repeat;
            top: 24px;
            right: 20px;
            width: 22px;
            height: 9px;
        }
    }
    .pagination__list{
        display: flex;
        justify-content: start;
    }
}
.blog-aside{
    max-width: 270px;
    .filter-category__text{
        width: 240px;
    }
    &__search{
        margin-bottom: 60px;
    }
    &__search-form{
        display: flex;
    }
    &__search-input{
        width: 220px;
        height: 44px;
        border: 2px solid #edf1f4;
        border-radius: 5px;
        color: $default;
        padding: 0 25px 0 5px;
        font-size: 16px;
    }
    &__search-btn{
        margin-left: -25px;
        min-width: 48px;
        height: 44px;
        border: 2px solid #edf1f4;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #edf1f4;
        cursor: pointer;
    }
    &__post-item{
        display: flex;
        margin-bottom: 20px;
    }
    &__post-img{
        width: 71px;
        height: 71px;
        object-fit: cover;
        margin-right: 20px;
    }
    &__post-text{
        @extend %Rubik-400;
        font-size: 14px;
        line-height: 20px;
        color: #333;
        margin-bottom: 5px;
    }
    &__post-date{
        @extend %Rubik-400;
        font-size: 12px;
        color: #9a9a9a;
        display: flex;
        align-items: center;
        img{
            display: inline-block;
            margin-right: 5px;
        }
    }
}
.product-tabs{
    padding-bottom: 120px;
    &__top{
        text-align: center;
        margin-bottom: 45px;
    }
    &__top-item{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $accent-title;
        background-color: #edf1f4;
        width: 240px;
        height: 50px;
        & + .product-tabs__top-item,
        span{
            margin-left: 5px;
        }
        &.product-tabs__top-item--active{
            background-color: #a3bbc8;
            color: #fff;
        }
    }
    &__content-item{
        display: none;
        &.product-tabs__content-item--active{
            display: block;
        }
    }
}
.product-related{
    position: relative;
    &__title{
        margin-bottom: 75px;
        @extend %DMSans-700;
        color: $accent-title;
        font-size: 36px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    .product-top__items-item{
        margin: 30px 15px;
    }
    .slick-arrow{
        position: absolute;
        background-color: transparent;
        border: 2px solid #a3bbc8;
        font-size: 0;
        
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 5px;
        padding: 0;
        width: 46px;
        height: 46px;
        top: -60px;
    }
    .slick-next{
        right: 20px;
        background-image: url('../images/icon/arrow-blog.svg');
    }
    .slick-prev{
        right: 90px;
        background-image: url('../images/icon/arrow-blog-left.svg');
    }
    .slick-disabled{
        border-color: #edf1f4;
    }
}

.blog-one{
    &__text{
        color: $accent-title;
        @extend %Rubik-500;
        margin-bottom: 60px;
        h6{
            font-size: 16px;
            margin-bottom: 25px;
        }
        p{
            margin-bottom: 40px;
        }
        h4{
            margin-bottom: 20px;
            padding-top: 30px;
        }
        img{
            object-fit: cover;
            width: 320px;
            height: 210px;
        }
    }
    &__blockqoute-left{
        background-color: #edf1f4;
        border-left: 6px solid #a3bbc8;
        padding: 25px 35px;
        margin-bottom: 45px;
        p{
            padding-left: 45px;
            position: relative;
            margin: 0;
            &::before{
                content: '';
                position: absolute;
                width: 20px;
                height: 4px;
                background-color: #a3bbc8;
                left: 0;
                top: 12px;
            }
        }
    }
    &__img-left{
        float: left;
        margin-right: 30px;
    }
    &__img-right{
        float: right;
        margin-left: 30px;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        padding: 25px 0;
        border-top: 2px solid #ebebeb;
        border-bottom: 2px solid #ebebeb;
    }
    &__author{
        display: flex;
        margin-right: 15px;
    }
    &__author-img{
        width: 75px;
        height: 76px;
        object-fit: cover;
        margin-right: 25px;
    }
    &__author-name{
        margin-top: 5px;
        display: block;
        font-size: 18px;
        color: #333;
        @extend %Rubik-500;
    }
    &__author-special{
        @extend %Rubik-400;
        color: #666;
        font-size: 16px;
    }
    &__item-tags{
        color: #333;
    }
    &__item-share{
        color: #333;
        display: flex;
    }
    &__item-list{
        display: flex;
    }
    &__item-text{
        color: #999;
        margin-left: 30px;    
    }
    &__item-social{
        margin-left: 20px;
        path{
            fill: #999;
        }
        &:hover{
            path{
                fill: #333;
            }
        }
    }
    &__comment{
        margin-bottom: 90px;
    }
    &__comment-title{
        @extend %Rubik-700;
        font-size: 24px;
        color: $accent-title;
        margin-bottom: 55px;
    }
    &__comment-item{
        display: flex;
        margin-bottom: 30px;
        &:last-child{
            .blog-one__comment-content{
                border-bottom: none;
                padding-bottom: 0px;
            }
        }
        &:nth-child(odd){
            margin-left: 130px;
            border-bottom: 1px solid #e0e0e0;
            .blog-one__comment-content{
                border: none;
            }
        }
    }
    &__comment-img{
        margin-right: 30px;
        object-fit: cover;
        width: 100px;
        height: 100px;
    }
    &__comment-content{
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 30px;
    }
    &__comment-name{
        @extend %Rubik-700;
        font-size: 16px;
        color: #436372;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }
    &__comment-date{
        @extend %Rubik-400;
        font-size: 14px;
        color: #9e9e9e;
    }
    &__comment-text{
        margin-bottom: 20px;
    }
    &__comment-reply{
        color: $accent-title;
    }
    &__comment-reply{
        font-size: 14px;
        position: relative;
        color: #516278;
        path{
            fill: #516278
        }
        svg{
            position: absolute;
            top: -2px;
        }
    }
    &__form-title{
        @extend %Rubik-700;
        color: #436372;
        font-size: 24px;
        margin-bottom: 50px;
    }
    &__form-box{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__form-icon{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            right: 20px;
            top: 20px;
            width: 14px;
            height: 13px;
            background-image: url('../images/icon/user-blog-one.svg');
        }
    }
    &__form-icon--email{
        &::before{
            background-image: url('../images/icon/email.svg');
            width: 18px;
            height: 12px;
        }
    }
    &__form-icon--textarea{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            right: 20px;
            top: 20px;
            width: 18px;
            height: 15px;
            background-image: url('../images/icon/message.svg');
        }
    }
    &__form-input{
        padding: 0 20px;
        width: 400px;
        height: 50px;
        border: 1px solid #e5e5e5;
        color: #333;
        outline: none;
        &:focus{
            border: 1px solid #a3bbc8;
        }
        &::placeholder{
            color: #999;
        }
    }
    &__form-textarea{
        display: block;
        resize: none;
        max-width: 830px;
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #e5e5e5;
        height: 120px;
        margin-bottom: 40px;
        color: #333;
        outline: none;
        &:focus{
            border: 1px solid #a3bbc8;
        }
        &::placeholder{
            color: #999;
        }
    }
    &__form-btn{
        width: 190px;
        height: 50px;
        background-color: #a3bbc8;
        color: #fff;
        border: none;
        cursor: pointer;
    }
}

.contact{
    padding: 120px 0;
    text-align: center;
    &__link{
        display: inline-block;
        font-size: 16px;
        color: #a3bbc8;
        margin-bottom: 10px;
    }
    &__title{
        color: #436372;
        @extend %DMSans-700;
        font-size: 35px;
        margin-bottom: 70px;
    }
}
.contact-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
    &__item{
        box-sizing: border-box;
        padding: 0 15px;
        width: 370px;
        height: 385px;
        background-color: #fbfbfb;
        border: 3px solid #fff;
        &:hover{
            border: 3px solid #a3bbc8;
            .contact-info__item-img{
                background-color: #a3bbc8;
                path{
                    fill: #fff;
                }
            }
        }
    }
    &__item-img{
        margin-top: 70px;
        margin-bottom: 65px;
        background-color: #fff;
        width: 80px;
        height: 80px;
        border-radius: 15px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    &__item-title{
        margin-bottom: 25px;
        color: #222;
        @extend %DMSans-700;
        font-size: 20px;
    }
    &__item-text,
    &__item-link{
        color: #565872;
        @extend %Rubik-400;
    }
}
.contact-box{
    display: flex;
    &__form{
        width: 620px;
    }
    &__form-box{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__form-icon{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            right: 20px;
            top: 20px;
            width: 14px;
            height: 13px;
            background-image: url('../images/icon/user-blog-one.svg');
        }
    }
    &__form-icon--email{
        &::before{
            background-image: url('../images/icon/email.svg');
            width: 18px;
            height: 12px;
        }
    }
    &__form-icon--textarea{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            right: 20px;
            top: 20px;
            width: 18px;
            height: 15px;
            background-image: url('../images/icon/message.svg');
        }
    }
    &__form-input{
        padding: 0 20px;
        width: 260px;
        height: 50px;
        border: 1px solid #e5e5e5;
        color: #333;
        outline: none;
        &:focus{
            border: 1px solid #a3bbc8;
        }
        &::placeholder{
            color: #999;
        }
    }
    &__form-textarea{
        display: inline-block;
        resize: none;
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #e5e5e5;
        height: 120px;
        margin-bottom: 40px;
        color: #333;
        outline: none;
        &:focus{
            border: 1px solid #a3bbc8;
        }
        &::placeholder{
            color: #999;
        }
    }
    &__form-btn{
        display: block;
        width: 190px;
        height: 50px;
        background-color: #a3bbc8;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px
    }
    &__map{
        width: 500px;
        height: 335px;
    }
}
#map{
    max-width: 530px;
    height: 335px;
    margin-left: 50px;
}

@import 'media';