<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glee</title>
    <link rel="stylesheet" href="css/blog.min.css">
</head>
<body>
    {% include 'app/module/_header/_header.html'%}
    <main class="main">
        
        <section class="top">
            <div class="breadcrumbs">
                <h2 class="breadcrumbs__title title">Blog</h2>
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="#">Home</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="#">Blog</a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="blog">
            <div class="small-container">
                <div class="blog__inner">
                    <div class="blog-content">
                        <div class="blog-content__item">
                            <div class="blog-content__item-img">
                                <img class="blog-content__img" src="images/content/blog/1.jpg" alt="images">
                                <div class="blog-content__item-box">
                                    <p class="blog-content__item-date">
                                        <img src="images/icon/calendar.svg" alt="calendar icons"> 28 JANUARY, 2020</p>
                                    <p class="blog-content__item-author">
                                        <img src="images/icon/user.svg" alt="user icon"> BY ADMIN</p>
                                </div>
                            </div>
                            <h4 class="blog-content__item-title">Fonsectetur adipisicing  eiusmod </h4>
                            <p class="blog-content__item-text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
                            <a class="blog-content__item-link" href="#">View More</a>
                        </div>
                        <div class="blog-content__item">
                            <div class="blog-content__item-img">
                                <img class="blog-content__img" src="images/content/blog/2.jpg" alt="images">
                                <div class="blog-content__item-box">
                                    <p class="blog-content__item-date">
                                        <img src="images/icon/calendar.svg" alt="calendar icons"> 28 JANUARY, 2020</p>
                                    <p class="blog-content__item-author">
                                        <img src="images/icon/user.svg" alt="user icon"> BY ADMIN</p>
                                </div>
                            </div>
                            <h4 class="blog-content__item-title">Fonsectetur adipisicing  eiusmod </h4>
                            <p class="blog-content__item-text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
                            <a class="blog-content__item-link" href="#">View More</a>
                        </div>
                        <div class="blog-content__item">
                            <div class="blog-content__item-img">
                                <img class="blog-content__img" src="images/content/blog/3.jpg" alt="images">
                                <div class="blog-content__item-box">
                                    <p class="blog-content__item-date">
                                        <img src="images/icon/calendar.svg" alt="calendar icons"> 28 JANUARY, 2020</p>
                                    <p class="blog-content__item-author">
                                        <img src="images/icon/user.svg" alt="user icon"> BY ADMIN</p>
                                </div>
                            </div>
                            <h4 class="blog-content__item-title">Fonsectetur adipisicing  eiusmod </h4>
                            <p class="blog-content__item-text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
                            <a class="blog-content__item-link" href="#">View More</a>
                        </div>
                        <div class="blog-content__item">
                            <div class="blog-content__item-img">
                                <img class="blog-content__img" src="images/content/blog/4.jpg" alt="images">
                                <div class="blog-content__item-box">
                                    <p class="blog-content__item-date">
                                        <img src="images/icon/calendar.svg" alt="calendar icons"> 28 JANUARY, 2020</p>
                                    <p class="blog-content__item-author">
                                        <img src="images/icon/user.svg" alt="user icon"> BY ADMIN</p>
                                </div>
                            </div>
                            <h4 class="blog-content__item-title">Fonsectetur adipisicing  eiusmod </h4>
                            <p class="blog-content__item-text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
                            <a class="blog-content__item-link" href="#">View More</a>
                        </div>
                        <div class="pagination">
                            <ul class="pagination__list">
                                <li class="pagination__item">
                                    <a class="pagination__link pagination__link--active" href="#">1</a>
                                </li>
                                <li class="pagination__item">
                                    <a class="pagination__link" href="#">2</a>
                                </li>
                                <li class="pagination__item">
                                    <a class="pagination__link" href="#">3</a>
                                </li>
                                <li class="pagination__item">
                                    <a class="pagination__link pagination__link-next" href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="blog-aside">
                        <div class="blog-aside__search">
                            <form class="blog-aside__search-form" action="#">
                                <input class="blog-aside__search-input" type="text">
                                <button class="blog-aside__search-btn">
                                    <img class="blog-aside__search-icon" src="images/icon/search-blog.svg   " alt="search icon">
                                </button>
                            </form>
                            
                        </div>

                        <div class="filter__item filter-category">
                            <h3 class="filter__title">CATEGORY</h3>
                            <form class="filter-category__form" action="#">
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <span class="filter-category__text">Chair</span>
                                </label>
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <span class="filter-category__text">Table</span>
                                </label>
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <span class="filter-category__text">Lamp</span>
                                </label>
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <span class="filter-category__text">Watch</span>
                                </label>
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <span class="filter-category__text">Clock</span>
                                </label>
                            </form>
                        </div>
                        <div class="blog-aside__post">
                            <h3 class="filter__title">recent posts</h3>
                            <a class="blog-aside__post-item" href="#">
                                <img class="blog-aside__post-img" src="images/content/blog/post-1.jpg" alt="images">
                                <div class="blog-aside__post-content">
                                    <p class="blog-aside__post-text">Corem ipsum dolor tetur adipisicing elit</p>
                                    <p class="blog-aside__post-date">
                                        <img src="images/icon/calendar-gray.svg" alt="calendar icon">
                                        28 JANUARY, 2020
                                    </p>
                                </div>
                            </a>
                            <a class="blog-aside__post-item" href="#">
                                <img class="blog-aside__post-img" src="images/content/blog/post-2.jpg" alt="images">
                                <div class="blog-aside__post-content">
                                    <p class="blog-aside__post-text">Corem ipsum dolor tetur adipisicing elit</p>
                                    <p class="blog-aside__post-date">
                                        <img src="images/icon/calendar-gray.svg" alt="calendar icon">
                                        28 JANUARY, 2020
                                    </p>
                                </div>
                            </a>
                            <a class="blog-aside__post-item" href="#">
                                <img class="blog-aside__post-img" src="images/content/blog/post-3.jpg" alt="images">
                                <div class="blog-aside__post-content">
                                    <p class="blog-aside__post-text">Corem ipsum dolor tetur adipisicing elit</p>
                                    <p class="blog-aside__post-date">
                                        <img src="images/icon/calendar-gray.svg" alt="calendar icon">
                                        28 JANUARY, 2020
                                    </p>
                                </div>
                            </a>
                            <a class="blog-aside__post-item" href="#">
                                <img class="blog-aside__post-img" src="images/content/blog/post-4.jpg" alt="images">
                                <div class="blog-aside__post-content">
                                    <p class="blog-aside__post-text">Corem ipsum dolor tetur adipisicing elit</p>
                                    <p class="blog-aside__post-date">
                                        <img src="images/icon/calendar-gray.svg" alt="calendar icon">
                                        28 JANUARY, 2020
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    {% include 'app/module/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
</body>
</html>