<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glee</title>
    <link rel="stylesheet" href="css/login.min.css">
</head>
<body>
    {% include 'app/module/_header/_header.html'%}
    <main class="main">
        <section class="top">
            <div class="breadcrumbs">
                <h2 class="breadcrumbs__title title">Log in</h2>
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="#">Home</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="#">Log in</a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="modal">
            <div class="small-container">
                <form class="modal__form" action="#">
                    <label class="modal__label">
                        Username or email address *
                        <input class="modal__input" type="text" required>
                    </label>
                    <label class="modal__label">
                        Password *
                        <input class="modal__input" type="password" required>
                    </label>
                    <button class="modal__btn">Login</button>
                    <label class="modal__label-text">
                        <input type="checkbox">
                        <p class="modal__text">Remember me</p>
                        <a class="modal__error" href="#">Lost your password?</a>
                    </label>
                </form>
                <p class="modal__problem">Not registered? No problem</p>
                <a class="modal__link" href="register.html">Create an account</a>
            </div>
        </section>

        <div class="partner-page">
            <div class="small-container">
                <div class="partner__items">
                    <div class="partner__item">
                        <img class="partner__item-img" src="images/content/partner/peterson-stepfane.png"
                            alt="logo peterson stephanie">
                    </div>
                    <div class="partner__item">
                        <img class="partner__item-img" src="images/content/partner/kmn-consulting.png"
                            alt="logo kmn consulting">
                    </div>
                    <div class="partner__item">
                        <img class="partner__item-img" src="images/content/partner/chainforce.png"
                            alt="logo chainforce">
                    </div>
                    <div class="partner__item">
                        <img class="partner__item-img" src="images/content/partner/nextg3n.png" alt="logo nextg3n">
                    </div>
                    <div class="partner__item">
                        <img class="partner__item-img" src="images/content/partner/vintage.png" alt="logo vintage">
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'app/module/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
</body>
</html>