.design {
    padding: 10px 0 60px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 30px;
        justify-content: center;
    }

    &__item {
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position: right;
        background-color: #f8f8f8;
        height: 246px;
        width: 370px;
        padding: 40px 0 0 38px;

        &:nth-child(3) {
            background-position-x: 230px;
        }

        &:nth-child(5) {
            background-position-x: 210px;
        }
    }

    &__item-title {
        @extend %DMSans-700;
        color: $grid-title;
        font-size: 22px;
        max-width: 180px;
        margin-bottom: 10px;
    }

    &__item-subtitle {
        color: #a3bbc8;
    }
}

@media (max-width: 400px) {
    .design {
        padding: 10px 0 30px;
        &__item {
            height: 300px;
            background-position: bottom;

            &:nth-child(3) {
                background-position: bottom right;
            }

            &:nth-child(5) {
                background-position: bottom right;
            }
        }
    }
}