.video {
    margin: 60px 0px;

    &__img {
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        height: 501px;
        background-position: center center;
        z-index: 4;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 501px;
    }
}

@media (max-width: 1600px){
    .video{
        margin: 0;
        &__img{
            background-size: cover;
        }
    }
}
@media (max-width: 600px){
    .video{
        &__img,
        &__link{
            height: 300px;
        }
        &__link{
            img{
                width: 75px;
                height: 75px;
            }
        }
    }
}