.slider-top {
    &__inner {
        display: flex !important;
        padding: 225px 0 270px;
        background-image: url('../images/slider-top-img.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__item-left {
        padding: 0 150px 0 300px;
        max-width: 425px;
    }

    &__item-title {
        @extend %Rubik-500;
        color: $accent-title;
        font-size: 72px;
        line-height: 70px;
        margin-bottom: 30px;
    }

    &__item-subtitle {
        margin-bottom: 40px;
    }

    &__item-btn {
        position: relative;
        max-width: 206px;
    }

    &__item-link {
        border: 1px solid #a3bbc8;
        padding: 20px 95px 20px 30px;
        background-color: #a3bbc8;
        color: #fff;
    }

    &__item-arrow {
        position: absolute;
        top: 12px;
        right: 20px;
    }

    &__item-img {
        margin-top: 50px;
    }
}

.slick-dots {
    position: absolute;
    display: flex;
    left: 50%;
    font-size: 10px;
    padding: 0;
    border: none;
    line-height: 0;
    color: $accent-title;
    margin-top: -75px;

    li {
        margin-right: 8px;

        button {
            border: 0px solid #fde3cc;
            background-color: #fde3cc;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        &.slick-active {
            button {
                border-color: #fff;
                background-color: #fff;
            }
        }
    }
}

.slider-bottom {
    background-color: #fef7f0;

    &__items {
        display: flex;
    }

    &__item {
        display: flex;
        border-right: 1px solid #e8e4df;
        padding: 45px 150px;

        &:first-child {
            width: 350px;
        }

        &:nth-child(2) {
            width: 425px;
        }

        &:last-child {
            border: none;
        }
    }

    &__item-img {
        margin-right: 20px;
        margin-top: 10px;
        max-height: 60px;
    }

    &__item-title {
        font-size: 18px;
        @extend %DMSans-700;
        line-height: 40px;
    }
}